<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%5level [%thread] - %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="com.camcam.board.mapper.BoardMapper">
		<level value="warn" />
	</logger>
	<logger name="com.camcam.reply.mapper.ReplyMapper">
		<level value="warn" />
	</logger>
	<root level="debug">
		<appender-ref ref="stdout" />
	</root>

</configuration>