<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camcam.board.mapper.BoardMapper">

 	<select id="boardList" resultType="com.camcam.board.vo.QnAVO">
		select * 
		from qna
		order by board_no desc
	</select> 
	
	<select id="boardListPaging" parameterType="com.camcam.common.SearchVO">
		select r.*
		from (select rownum rn, a.*
			from (select *
					from qna b
					where 
					<choose>
						<when test="searchCondition == 'T'.toString()">
							title like '%' ||#{keyword}|| '%'
						</when>
						<when test="searchCondition == 'W'.toString()">
							user_id like '%' ||#{keyword}|| '%'
						</when>
						<otherwise>
							title like '%' ||#{keyword}|| '%' or user_id like '%' ||#{keyword}|| '%'
						</otherwise>
					</choose>
					order by b.board_no desc) a
			<![CDATA[
			where rownum <= (#{page} * 12) or #{page} = 0)r
			]]>
		where r.rn > (#{page} - 1) * 12
	</select>
	
	<select id="getTotalCnt" resultType="int" parameterType="com.camcam.common.SearchVO">
		select count(1) from qna
		where
		<choose>
			<when test="searchCondition == 'T'.toString()">
				title like '%' ||#{keyword}|| '%'
			</when>
			<when test="searchCondition == 'W'.toString()">
				user_id like '%' ||#{keyword}|| '%'
			</when>
			<otherwise>
				title like '%' ||#{keyword}|| '%' or user_id like '%' ||#{keyword}|| '%'
			</otherwise>
		</choose>
	</select>
	
	<select id="selectBoardPw" resultType="com.camcam.board.vo.QnAVO" parameterType="com.camcam.board.vo.QnAVO">
		select *
		from qna
		where user_id = #{userId}
		and board_no = #{boardNo}
		and board_pw = #{boardPw}
	</select>
	
	<insert id="insertBoard" parameterType="com.camcam.board.vo.QnAVO">
		insert into qna (board_no, user_id, title, content, create_date, board_pw)
		values (qna_no_seq.nextval, #{userId}, #{title}, #{content}, sysdate, #{boardPw})
	</insert>
	
	<update id="updateBoard" parameterType="com.camcam.board.vo.QnAVO">
		update qna
		set title = #{title}, content = #{content}
		where user_id = #{userId}
		and board_no = #{boardNo}
	</update>
	
</mapper>