<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camcam.board.mapper.BoardMapper">

 	<select id="boardList" resultType="com.camcam.board.vo.QnAVO">
		select * 
		from qna
		order by board_no desc
	</select> 
	
	<select id="selectBoard" resultType="com.camcam.board.vo.QnAVO" parameterType="int">
		select *
		from qna 
		where board_no = #{boardNo}
	</select>

</mapper>