<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camcam.delivery.mapper.DeliveryMapper">

	<select id="selectDeliveryList" resultType="com.camcam.delivery.vo.DeliveryVO">
		select * from delivery
		order by deli_no
	</select>
	
	<insert id="insertDelivery" parameterType="com.camcam.delivery.vo.DeliveryVO">
		insert into delivery (deli_no, user_id, order_no)
		values (deli_no_ceq.nextval, #{userId}, #{orderNo})
	</insert>
</mapper>