<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camcam.mypage.mapper.MyPageMapper">
	
	<select id="boardListPaging" parameterType="com.camcam.mypage.vo.PageVO"> <!-- = getMyboard -->
		SELECT r.*
		FROM (
    			SELECT rownum rn, a.*
    			FROM (
        				SELECT *
        				FROM qna b
        				where b.user_id = #{userId}
        				ORDER BY b.board_no DESC
    				) a
    				<![CDATA[
   				WHERE rownum <= (#{page} * 12)
				) r
				]]>
		WHERE r.rn > (#{page} - 1) * 12
	</select>
		
	<select id="orderListPaging" parameterType="com.camcam.mypage.vo.PageVO"><!-- getMyorder -->
		SELECT r.*
		FROM (
    			SELECT rownum rn, a.*
    			FROM (
        				SELECT *
        				FROM orders b
        				where b.user_id = #{userId}
        				ORDER BY b.order_no DESC
    				) a
    				<![CDATA[
   				WHERE rownum <= (#{page} * 12)
				) r
				]]>
		WHERE r.rn > (#{page} - 1) * 12
	</select>
	
	<select id="wishListPaging" parameterType="com.camcam.mypage.vo.PageVO"><!-- getMyorder -->
        SELECT r.*
        FROM (
                SELECT rownum rn, a.*
                FROM (
                        select P.*
                        from products P join likes L on (P.product_no = L.product_no)
                        where user_id = #{userId}
                    ) a
                    <![CDATA[
                   WHERE rownum <= (#{page} * 12)
                ) r
                ]]>
        WHERE r.rn > (#{page} - 1) * 12
    </select>
	
	<select id="selectMypage" resultType="com.camcam.user.vo.UserVO">
		select * 
		from users
		where user_id = #{userId}
	</select>
	
 	<select id="selectMyboard" resultType="com.camcam.board.vo.QnAVO" parameterType="string">
		select * 
		from qna
		where user_id = #{userId}
	</select> 
	
	<select id="selectBoardNo" resultType="com.camcam.board.vo.QnAVO" >
		select *
		from qna
		where board_no = #{boardNo} 
		and board_pw = nvl(#{pw}, board_pw)
	</select>
	
	<delete id="deleteBoardNo" parameterType="int">
		delete from qna where board_no = #{boardNo}
	</delete>
	
	<update id="updateBoardNo" parameterType="com.camcam.board.vo.QnAVO">
		update qna
		set title = #{title}, content = #{content}
		where board_no = #{boardNo}
	</update>
	
 	<select id="selectMyorder" resultType="com.camcam.mypage.vo.PageVO" parameterType="string">
		select * 
		from orders
		where user_id = #{userId}
	</select> 
	
	<select id="getBoardpw" resultType="string">
		select board_pw
		from qna
		where board_no = #{boardNo}
	</select>
	
	<select id="selectDetail" resultType="com.camcam.order.vo.OrderDetailVO" parameterType="int">
		select *
		from orderdetail
		where order_no = #{orderNo}
	</select>
	
	<delete id="deleteMywish" parameterType="com.camcam.product.vo.ProductVO">
		delete from likes 
		where product_no = #{productNo} 
		and user_id = #{userId}
	</delete>
	
	<select id="selectMydelivery" resultType="com.camcam.delivery.vo.DeliveryVO" parameterType="string">
		select *
		from delivery
		where user_id = #{userId}
	</select>

	<select id="getBoardTotalCnt" resultType="int" parameterType="com.camcam.mypage.vo.PageVO">
		select count(1)
		from qna
		where user_id = #{userId}
	</select>

	<select id="getOrderTotalCnt" resultType="int" parameterType="com.camcam.mypage.vo.PageVO">
		select count(1)
		from orders
		where user_id = #{userId}
	</select>

	<select id="getWishTotalCnt" resultType="int" parameterType="com.camcam.mypage.vo.PageVO">
		select count(1)
		from likes
		where user_id = #{userId}
	</select>
	
</mapper>